*.hprof
*.swp
*.iml
*stdout.txt
/build/
out/
.idea/
*.ipr
*.iws
.DS_Store
.DS_Store?
JuniperKernel.Rcheck/
NAMESPACE
man/
*RcppExports*
.Rproj.user
*.Rproj
.Rhistory
inst/include/zmq*
inst/include/zmq.h
inst/zmq
foo
inst/include/json.hpp
