useDynLib("JuniperKernel", .registration=TRUE)
import("Rcpp")
import("gdtools")

export(bootKernel)
export(defaultDisplayName)
export(defaultKernelName)
export(installJuniper)
export(listKernels)

# jupyter message handlers
export(doRequest)
export(kernel_info_request)
export(comm_info_request)
export(comm_close)
export(comm_open)
export(comm_msg)
export(execute_request)
export(inspect_request)
export(complete_request)
export(shutdown_request)
